{% for a in authors %}
  <div>
    <span>{{ a.user.username }}</span>

    {% if a.id != my_author.id %}
      {% if a in my_author.following.all %}
        <form method="post" action="{% url 'unfollow_local_author' a.id %}">
          {% csrf_token %}
          <button type="submit">Unfollow</button>
        </form>
      {% else %}
        <form method="post" action="{% url 'follow_local_author' a.id %}">
          {% csrf_token %}
          <button type="submit">Follow</button>
        </form>
      {% endif %}
    {% endif %}
  </div>
{% endfor %}